<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=.\sqlexpress;Initial Catalog=SiemensTraining;Integrated Security=True;Pooling=False" name="siemensDbConStr"/>
  </connectionStrings>

  <appSettings>
    <add key="INSERT_QUERY" value="InsertEmployeeRecord"/>
    <add key="GETALL_SELECT_QUERY" value="GetAllEmployeeRecords"/>
    <add key="GETALL_DEPARTMENT_NAME" value="GetAllDepartmentName"/>
    <add key="UPDATE_EMPLOYEE" value="UpdateEmployee"/>
  </appSettings>
</configuration>